---
---

@import
  'mixins',
  'materialize-custom',
  'icons'
;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

section {
    position: relative;
}

ol, ul {
    list-style-position: inside;
}

.header-logo {
  max-width: 100%;
  max-height: 4em;
  display: block;
  background: white;
}

.img-container {
    width: 100%;
    text-align: center;
}
.img-container img {
    max-width: 90%;
    border: 1px solid #EFF0F1;
    padding: 5px;
    border-radius: 2px;
}
.man-link {
    border: 1px solid #D4D2D2;
    padding: 0px 6px;
    border-radius: 2px;
    white-space:nowrap;
}

.man-link-name {
    font-family: monospace;
}

#tutorial-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tutorial-list-difficulty {
    text-align: center;
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 10px;
    margin: 25px 0 0 0;
}
.tutorial-list-item {
    list-style: none;
    border-bottom: 1px solid #CFCFCF;
    padding: 14px 0;
}
.tutorial-list-item:hover {
    background: #F2F2F2;
}
.tutorial-list-item:last-child {
    border: none;
}
.tutorial-list-item.tutorial-disabled {
    background: #FFE1E1;
}
.tutorial-item-icon {
    float: left;
    margin: 0 16px;
    font-size: 3em;
    width: 1em;
    line-height: 1em;
    text-align: center;
}
.tutorial-list-item h4 {
    margin: 0;
}
.tutorial-list-item h4 .fa {
    font-size: 1.3em;
}
.tutorial-list-item p {
    margin: 5px 0 0 0;
}
.tutorial-suggested {
    margin: 0 !important;
    padding-left: 2em;
}

.tutorial-diff-1 {
    color: #17B417;
}
.tutorial-diff-2 {
    color: #D7D700;
}
.tutorial-diff-3 {
    color: #E60000;
}
.tutorial-diff-none {
    color: #CFCFCF;
}

.device-screenshot {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.device-canvas {
    max-width: 100%;
}
.device-screen {
    position: absolute;
    top: 12.3%;
    left: 12.6%;
    height: 69.6%;
    width: 73.8%;
}

.video-container {
    text-align: center;
}

p.divider {
    border-bottom: 1px solid #CFCFCF;
    margin: 2em 5em;
}

.toc-container {
    border: 1px solid #CFCFCF;
    float: right;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 15px;
}

.toc-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.toc-container li {
    margin: 3px 0;
    padding: 0;
    list-style: none;
}

.toc-container .toc-level-2 {
    text-indent: 1em;
}

.goto-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1% 1% 0;
}

.goto-top a {
    border: none;
    font-size: 3em;
    color: #6A7FAB;
}

.info-box {
  color: #FFFFFF;
  background-color: #039BE5;

  .row {
    margin-bottom: 0;
  }

  i.fa {
    font-size: 3em;
  }
}

.warn {
    background-color: #CE6A16;
}
.danger {
    background-color: #CE1616;
}

.top-nav {
  z-index: 999;
}
