---
# ciao
---

@import 'mixins';

$treehouse-auto: #fa9300, #66c9ee, #c9c9c9, #82b964, #d24d33, #fffbdb, #2e77bb, #6bd5b1, #f87aa0, #c9c9c9, #72664e, #ccd600, #fffbdb, #df620e, #993838, #ff9600, #d24d33, #8960a7, #82b964, #f87aa0, #d43f3f, #668000, #ff9600, #8960a7, #c9c9c9, #993838, #ccd600, #668000, #f4cc13, #72664e, #fa9300, #66c9ee, #c9c9c9, #82b964, #ccd600, #fffbdb, #2e77bb, #6bd5b1, #f87aa0, #c9c9c9, #fa9300, #66c9ee, #c9c9c9, #82b964, #ccd600, #fffbdb, #fa9300;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

section {
    position: relative;
}

ol, ul {
    list-style-position: inside;
}

a {
  color: #6EB6DE;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #3F6BC3;
}
a:focus {
    outline: none;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #f3f3f3;
  /*text-align: center;*/
  background-color: #155E8B;
  background-image: url('../images/triangles-background.jpg');
  /*@include stripes(gradient-list(#FFF, #1264AA, 10), 190deg);*/
}
.page-header h1 {
    font-weight: 400;
    text-align: left;
}
.page-header a {
    border: none;
}

@media screen and (min-width: 64em) {
    .page-header, .page-footer {
        padding: 1rem 4rem;
    } 
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header, .page-footer {
    padding: 1rem 3rem; } }

@media screen and (max-width: 42em) {
  .page-header, .page-footer {
    padding: 1rem 1rem; } }

.footer-copyright {
  color: #FFFFFF;
  background-color: #606C71;
  text-align: justify;
  font-size: .8em;
}

.header-logo {
  max-width: 100%;
  max-height: 4em;
  display: block;
  background: white;
}

.project-name {
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
.project-name a {
  color: inherit;
  vertical-align: top;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 0;
  font-weight: normal;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-menu {
  text-align: right;

  .pure-menu-link {
    color: #FFFFFF;
    &:hover {
      color: #606C71;
    }
  }
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
}

.menu-item {
    list-style: none;
    display: inline;
    padding: 16px 12px;
    line-height: 70px;
}
.main-menu li.active {
    border-top: 2px solid #E3E3E3;
}
.menu-item a {
    color: inherit;
}
.menu-item:after {
    content:"\00b7";
    position: absolute;
    padding: 2px 8px;
}
.menu-item:last-child:after {
    content: none;
}

.main-content :first-child {
  margin-top: 0; }

.main-content img {
    max-width: 100%;
}

.img-container {
    width: 100%;
    text-align: center;
}
.img-container img {
    max-width: 90%;
    border: 1px solid #EFF0F1;
    padding: 5px;
    border-radius: 2px;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #159957;
  color: #002596;
}
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  background: #F7F7F7 none repeat scroll 0% 0%;
  padding: 3px 5px;
}
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  border: solid 1px #dce6f0;
}
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
    margin: 1rem 0;
}
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8em;
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
}
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5em 1em;
}
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

.main-content {
    max-width: 64em;
    padding: 2em 4em;
    margin: 0 auto;
}
@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.page-footer {
  border-top: solid 1px #eff0f1;
}
.footer-col {
  padding: 0 5px;
}

@media screen and (min-width: 64em) {
  .page-footer-content {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-footer-content {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .page-footer-content {
    font-size: 0.9rem; } }

.man-link {
    border: 1px solid #D4D2D2;
    padding: 0px 6px;
    border-radius: 2px;
    white-space:nowrap;
}

.man-link-name {
    font-family: monospace;
}

.tutorial-box {
    border: 1px solid #CFCFCF;
    float: right;
    border-radius: 2px;
    margin-bottom: 10px;
}

.tutorial-box table {
    border: none;
}
.tutorial-box .tutorial-logo {
    font-size: 4em;
}

#tutorial-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tutorial-list-difficulty {
    text-align: center;
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 10px;
    margin: 25px 0 0 0;
}
.tutorial-list-item {
    list-style: none;
    border-bottom: 1px solid #CFCFCF;
    padding: 14px 0;
}
.tutorial-list-item:hover {
    background: #F2F2F2;
}
.tutorial-list-item:last-child {
    border: none;
}
.tutorial-list-item.tutorial-disabled {
    background: #FFE1E1;
}
.tutorial-item-icon {
    float: left;
    margin: 0 16px;
    font-size: 3em;
    width: 1em;
    line-height: 1em;
    text-align: center;
}
.tutorial-list-item h4 {
    margin: 0;
}
.tutorial-list-item h4 .fa {
    font-size: 1.3em;
}
.tutorial-list-item p {
    margin: 5px 0 0 0;
}
.tutorial-suggested {
    margin: 0 !important;
    padding-left: 2em;
}

.tutorial-diff-1 {
    color: #17B417;
}
.tutorial-diff-2 {
    color: #D7D700;
}
.tutorial-diff-3 {
    color: #E60000;
}
.tutorial-diff-none {
    color: #CFCFCF;
}

.device-screenshot {
    position: relative;
    height: 450px;
    float: right;
    margin: 15px 5px;
}
.device-canvas {
    height: 100%;

}
.device-screen {
    position: absolute;
    top: 13.0%;
    left: 12.2%;
    height: 69.6%;
}

.video-container {
    text-align: center;
}

p.divider {
    border-bottom: 1px solid #CFCFCF;
    margin: 2em 5em;
}

.toc-container {
    border: 1px solid #CFCFCF;
    float: right;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 15px;
}

.toc-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.toc-container li {
    margin: 3px 0;
    padding: 0;
    list-style: none;
}

.toc-container .toc-level-2 {
    text-indent: 1em;
}

.goto-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1% 1% 0;
}

.goto-top a {
    border: none;
    font-size: 3em;
    color: #6A7FAB;
}

.info-box {
    background-color: #6A7FAB;
    color: #FFFFFF;
    padding: 15px;
    margin-bottom: 10px;
}
.info-box.warn {
    background-color: #CE6A16;
}
.info-box.danger {
    background-color: #CE1616;
}

.info-box .fa {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
}

.info-box p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

#barcode-container {
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgba(106, 127, 171, 0.85) none repeat scroll 0% 0%;
    padding: 20px 0px;
    z-index: 999;
    color: white;
    display: none;
}

#barcode-container a {
    border: none;
    color: inherit;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #FFFFFF;
    float: right;
    font-size: 2em;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
