---
id: home
layout: default
---

<div class="row promo-icons">
  <div class="col s12 m4 center-align">
    <a href="{{ site.baseurl }}/quick-start">{% include icon icon='knowledge' %}</a>
    <h4><a href="{{ site.baseurl }}/quick-start">Quick Start</a></h4>
    <p>Install the Datalogic SDK Add-on and start creating apps</p>
  </div>

  <div class="col s12 m4 center-align">
    <a href="{{ site.baseurl }}/tutorials">{% include icon icon='test' %}</a>
    <h4><a href="{{ site.baseurl }}/tutorials">Tutorials</a></h4>
    <p>Sample applications and source code explanation</p>
  </div>

  <div class="col s12 m4 center-align">
    <a href="http://doc.mobile.dl.net/sdk/docs/">{% include icon icon='know_how' %}</a>
    <h4><a href="{{ site.apireference_url | prepend: site.baseurl }}">API Reference</a></h4>
    <p>Datalogic SDK reference manual</p>
  </div>

</div>
