---
id: quick-start
layout: page
title: Android Studio
---

<h2 id="install-android-studio">Install Android Studio</h2>

{% include info-box.html msg='Please notice that the following instructions are valid for Android Studio versions released on the <i>stable</i>, there is no support for the <i>beta</i> channel' %}

Download Android Studio from the <a href="http://developer.android.com/sdk/index.html">official website</a>
and follow the <a href="http://developer.android.com/sdk/installing/index.html?pkg=studio">installation instruction</a>.

After installing Android Studio, install the proper Android SDK version for your device (i.e. SDK level 16 for Android
4.1.1).

<h2 id="install-sdk">Install Datalogic SDK Add-on</h2>

<p>From Android Studio launch window, click on <i>Configure</i> &gt; <i>Android SDK Manager</i>
to open Android SDK Manager</p>
{% include img.html src='install-sdk-as-configure.png' %}
{% include img.html src='install-sdk-as-menu.png' %}

<p>Select the tab <i>SDK Update Sites</i> and click the <i class="fa fa-plus"></i>
(plus) icon on the right-side toolbar</p>
{% include img.html src='install-sdk-as-sdk-manager.png' %}

<p>In the new window insert the following URL, optionally a name and the press <i>OK</i></p>
{% highlight none %}
{{ site.addonxml_url }}
{% endhighlight %}
{% include img.html src='install-sdk-as-site-url.png' %}

<p>Now select the tab <i>SDK Platforms</i> and check the checkbox on the
bottom right <i>Show Package Details</i>.
Under the section <i>Android 4.1.2</i> (API 16) Datalogic SDK Add-on should appear.
To install it, check Datalogic SDK Add-on checkbox and a small icon on the left should appear</p>
{% include info-box.html level='warn' msg='Please notice that you must also install the Android API platform matching your Android version (i.e. API 16 is required to compile apps for Android 4.1.1)' %}

{% include img.html src='install-sdk-as-before-install.png' %}

<p>Click on the button <i>Apply</i> to install the selected packages.
Once the installation is complete, the <i>Status</i> of the Datalogic SDK Add-on changes from
<i>Not installed</i> to <i>Installed</i></p>
{% include img.html src='install-sdk-as-installed.png' %}

<h2 id="use-sdk">Use Datalogic SDK</h2>

<h3 id="create-apps">Create new applications</h3>
<p>When creating a new project choose <i>Datalogic Add-on SDK 1.0</i> as <i>Minimum SDK</i> option</p>
{% include img.html src='install-sdk-as-create-project.png' %}

<h3 id="compile-project">Compile projects</h3>

<h3 id="gradle-scripts">Gradle scripts</h3>

<h2 id="troubleshooting">Troubleshooting</h2>
