<footer class="page-footer">
  <div class="container">
    <div class="row">

      <div class="col l6 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.datalogic.com/eng/contact-us/corporate-headquarters-pa-40.html">Corporate Headquarters</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.datalogic.com/eng/contact-us/automatic-data-capture-ss-68.html">Automatic Data Capture</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.datalogic.com/eng/contact-us/industrial-automation-ssia-31.html">Industrial Automation</a></li>
        </ul>
      </div>
 
      <div class="col l6 s12">
        <h5><a class="white-text" href="http://www.datalogic.com/eng/about-us-pa-15.html">About Us</a></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.datalogic.com/eng/about-us/management-pa-100.html">Management</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.datalogic.com/eng/about-us/organization-pa-151.html">Organization</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.datalogic.com/eng/about-us/quality-safety-environment-pa-153.html">Quality, Safety &amp; Environment</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.datalogic.com/eng/patents-pat-118.html">Patents</a></li>
          <li><a class="grey-text text-lighten-3" href="/eng/careers/careers-pa-26.html">Careers</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a href="http://www.datalogic.com">www.datalogic.com</a>
      &copy; 2016 Datalogic S.p.A. and/or its affiliates.
      All rights reserved. Datalogic and the Datalogic logo are registered trademarks of
      Datalogic S.p.A. in many countries including the U.S.A. and the E.U. All other
      trademarks are the property of their respective owners.
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

