<footer class="site-footer">

<ul class="footer-menu">
<li class="menu-item">Datalogic S.p.A. Copyright 2015 - All rights reserved </li>
<li class="menu-item"><a href="http://www.datalogic.com/eng/legal-notice-pa-92.html"><span>Legal Notice</span></a></li>
<li class="menu-item"><a href="http://www.datalogic.com/eng/privacy-policy-pa-112.html"><span>Privacy Policy</span></a></li>
<li class="menu-item"><a href="http://www.datalogic.com/eng/terms-and-conditions-pa-93.html"><span>Terms and Conditions</span></a></li>
<li class="menu-item"><a href="http://www.datalogic.com/eng/patents-pat-118.html"><span>Patents</span></a></li>
<li class="menu-item"><a href="http://www.datalogic.com/eng/contact-us-pa-30.html"><span>Contact Us</span></a></li>
</ul>
</footer>
