<div class="pure-g page-footer">
  <div class="footer-col pure-u-sm-1 pure-u-md-1-3">
    <h2>About us</h2>
    <ul class="footer-menu">
      <li class="footer-item"><a href="http://www.datalogic.com">www.datalogic.com</a></li>
      <li class="footer-item"><a href="http://www.datalogic.com/eng/about-us/organization-pa-151.html">Organization</a></li>
      <li class="footer-item"><a href="http://www.datalogic.com/eng/careers/careers-pa-26.html">Careers</a></li>
      <li class="footer-item"><a href="http://www.datalogic.com/eng/contact-us-pa-30.html">Contact Us</a></li>
    </ul>
  </div><!--

--><div class="footer-col pure-u-sm-1 pure-u-md-1-3">
    <h2>Connect with us</h2>
    <ul class="footer-menu">
      <li><i class="fa fa-twitter" style="color:#33CCFF;"></i> <a href="http://twitter.com/DatalogicADC">@DatalogicADC</a></li>
      <li><i class="fa fa-linkedin" style="color:#0077B5;"></i> <a href="https://www.linkedin.com/company/datalogic-s-p-a-">Datalogic S.p.A.</a></li>
      <li><i class="fa fa-youtube-play" style="color:#CD201F;"></i> <a href="http://www.youtube.com/user/DatalogicGroup">DatalogicGroup</a></li>
      <li><i class="fa fa-facebook-official" style="color:#3B5998;"></i> <a href="https://www.facebook.com/DatalogicADC">DatalogicADC</a></li>
    </ul>
  </div><!--

--><div class="footer-col pure-u-sm-1 pure-u-md-1-3">
    <h2>Company</h2>
    <ul class="footer-menu">
      <li class="footer-item"><a href="http://www.datalogic.com/eng/legal-notice-pa-92.html"><span>Legal Notice</span></a></li>
      <li class="footer-item"><a href="http://www.datalogic.com/eng/privacy-policy-pa-112.html"><span>Privacy Policy</span></a></li>
      <li class="footer-item"><a href="http://www.datalogic.com/eng/terms-and-conditions-pa-93.html"><span>Terms and Conditions</span></a></li>
      <li class="footer-item"><a href="http://www.datalogic.com/eng/patents-pat-118.html"><span>Patents</span></a></li>
    </ul>
  </div>
</div>

<div class="page-footer footer-copyright pure-u-1">
  &copy; 2016 Datalogic S.p.A. and/or its affiliates.
  All rights reserved. Datalogic and the Datalogic logo are registered trademarks of
  Datalogic S.p.A. in many countries including the U.S.A. and the E.U. All other
  trademarks are the property of their respective owners.
</div>
