<nav class="top-nav">
  <div class="nav-wrapper container">
    <a href="{{ site.url | append: site.baseurl }}" class="brand-logo left"><img src="{{ site.baseurl }}/images/datalogic-logo.png"></a></a>
    <a href="#" data-activates="nav-main" class="button-collapse black-text right"><i class="fa fa-bars"></i></a>
    <ul class="left hide-on-med-and-down">
      {% for item in site.data.menu %}
        <li
          {% if page.id and (page.id == item.id) %}
          class="active"
          {% endif %}
          ><a
            {% if item.items %}
            data-activates="nav-{{ item.id }}"
            data-beloworigin="true"
            data-hover="true"
            class="dropdown-button"
            {% endif %}
            {% if item.external_url %}
            href="{{ item.external_url }}"
            {% else %}
            href="{{ item.url | prepend: site.baseurl }}"
            {% endif %}
            >{{ item.name }}
          {% if item.items %}
          <i class="fa fa-caret-down"></i>
          {% endif %}
        </a></li>

        {% if item.items %}
        <ul id="nav-{{ item.id }}" class="dropdown-content">
        {% for sub in item.items %}
          <li><a
            {% if sub.external_url %}
            href="{{ sub.external_url }}"
            {% else %}
            href="{{ sub.url | prepend: site.baseurl }}"
            {% endif %}
            >{{ sub.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Mobile only menu -->
    <ul id="nav-main" class="side-nav">
      {% for item in site.data.menu %}
        <li
          {% if page.id and (page.id == item.id) %}
          class="active"
          {% endif %}
          ><a
            {% if item.external_url %}
            href="{{ item.external_url }}"
            {% else %}
            href="{{ item.url | prepend: site.baseurl }}"
            {% endif %}
            >{{ item.name }}
        </a></li>

        {% if item.items %}
        <ul id="nav-{{ item.id }}" class="">
        {% for sub in item.items %}
        <li><a
          {% if sub.external_url %}
          href="{{ sub.external_url }}"
          {% else %}
          href="{{ sub.url | prepend: site.baseurl }}"
          {% endif %}
          ><i class="fa fa-chevron-right"></i> {{ sub.name }}</a>
        </li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
    </ul>

  </div>
</nav>
