{% case include.level %}
{% when 'danger' %}
{% assign icon = 'hand-stop-o' %}
{% when 'warn' %}
{% assign icon = 'exclamation-triangle' %}
{% else %}
{% assign icon = 'info-circle' %}
{% endcase %}

<div class="card-panel {{ include.level }} info-box"
    {% if include.color %}
    style="background-color: {{ include.color }};"
    {% endif %}>
  <div class="row valign-wrapper">
    <div class="col s2 m1">
      <i class="fa fa-{{ icon }} valign"></i>
    </div>
    <div class="col s10 m11">
      <span>{{ include.msg }}</span>
    </div>
  </div>
</div>
