{% assign class = include.uri | split: '#' | first %}
{% if include.uri contains '#' %}
{% assign func = include.uri | split: '#' | last %}
{% else %}
{% assign func = false %}
{% endif %}
{% if include.name %}
{% assign name = include.name %}
{% else %}
{% capture name %}{{ class | split: '.' | last }}{% if func %}.{{ func|split:'('|first }}(){% endif %}{% endcapture %}
{% endif %}
<a class="man-link" href="{{ site.baseurl }}/docs/reference/{{ class | replace: '.','/' }}.html{% if func %}#{{ func }}{% endif %}"
    title="Reference {{ include.uri }}"><i class="fa fa-book"></i>&nbsp;<span class="man-link-name">{{ name }}</span></a>
