<form action="//datalogic.us13.list-manage.com/subscribe/post?u=bf0cc12348970d3cd4e2bc8ba&amp;id=e2bb014d4c"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
    class="validate" target="_blank">
  <div class="input-field">
    <input type="email" name="EMAIL" class="validate" id="mce-EMAIL">
    <label for="EMAIL">Email</label>

    <button class="btn waves-effect waves-light right" type="submit" name="subscribe">Subscribe
      <i class="material-icons right">send</i>
    </button>
  </div>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_bf0cc12348970d3cd4e2bc8ba_e2bb014d4c" tabindex="-1" value=""></div>
</form>
