---
layout: tutorial
title: Barcode Scanner HTML5

tutorial_enabled: true
tutorial_difficulty: 3
tutorial_icon: html5
tutorial_suggested:
    - Decode Sample API

excerpt: 'HTML5 BarcodeScanner app based on Datalogic BarcodeManager'
---

<h2>Android WebView</h2>

<p>This barcode scanner app uses an Android standard {% include man-link-android.html uri='android.webkit.WebView' %}
in the <code>activity_main.xml</code> layout. To load the HTML5 app, just call <code>loadUrl()</code> on the WebView
providing a path to the main HTML file. Please notice that in this case the HTML5 app is stored inside the Android app,
in the assets/ folder, but it can be moved anywhere.</p>

{% highlight java %}
mWebView = (WebView) findViewById(R.id.webView_main);
mWebView.loadUrl("file:///android_asset/www/index.html");
{% endhighlight %}

<p>Please take a look at the function <code>setupWebView()</code> that contains the initialization and
some useful configuration of the WebView.</p>

<h2>JavaScript Interface</h2>

<p>To expose Java objects and their methods on JavaScript, you need to specifically export Java objects on the WebView.
To access the BarcodeManager from JS, this example provides a wrapper class around the original Datalogic
{% include man-link.html uri="com.datalogic.decode.BarcodeManager" %} to allow using intents transparently
if configured so, but simply exposing the BarcodeManager would do:</p>

{% highlight java %}
mWebView.addJavascriptInterface(new BarcodeManagerWrapper(), "BarcodeManager");
{% endhighlight %}


<p>On JavaScript side a new object happears at <code>window.BarcodeManager</code>. The name is the second argument
of addJavascriptInterface(). This interface is unidirectional from JavaScript to Java, that is Java can't call any JavaScript
function for the moment.</p>

<p>It is still missing a Java to JavaScript interface, for calling BarcodeManager callbacks. It is done
evaluating JS code inside the WebView, please check the Utils.java file and the function <code>callJsFunction</code>.</p>

<p>Please notice that this solution can lead to security breaches if not done in a safe way.</p>

{% highlight java %}
public static void evalJs(WebView w, String js) {
    w.loadUrl("javascript:" + js);
}
{% endhighlight %}

<h2>HTML5 app</h2>

<p>The main application is a standalone HTML web application that can run in any web browser (older I.E. not supported) and resides in
<code>assets/www/</code>. The app is based on <a href="https://angularjs.org/">AngularJS</a> (v1).</p>

<p>Please notice that CSS is written in SCSS, so please build it after any modification or use the already compiled version .css.</p>

<p>The Java-to-JavaScript interface consists of 4 callbacks called by BarcodeManager that have the same purpose of their
Java homonyms:</p>

{% highlight java %}
onStart = function() { };

onStop = function() { };

onTimeout = function() { };

onRead = function(code, symbology) { };
{% endhighlight %}

<p>From JavaScript you can call the following methods of BarcodeManager, as you would do in Java:</p>

{% highlight java %}
BarcodeManager.startDecode(timeout);
BarcodeManager.stopDecode();
{% endhighlight %}
