---
layout: tutorial
title: Device Sample API

tutorial_enabled: true
tutorial_difficulty: 1
tutorial_icon: mobile

excerpt: "Access common info and control the device"
---

<p>This tutorial shows common operations done on an Android device to
gather information. The sample app is divided into several Activities, one
per each topic.</p>

<h2>Info</h2>
<p>Datalogic SDK provides advanced information about the device in the class
{% include man-link.html uri='com.datalogic.device.info.SYSTEM' %}, which
exposes Wi-Fi type, keyboard type and others as static members. Example usage:</p>

{% highlight java %}
com.datalogic.device.info.SYSTEM.SDK_VERSION_INT;
{% endhighlight %}

<h2>Power</h2>
<p>To get information about the battery, Android broadcasts the <code>Intent</code>
{% include man-link-android.html uri='android.content.Intent#ACTION_BATTERY_CHANGED' %}
which carry information in its extra properties. The intent is fired every time
the status of the battery changes and once when you register a receiver, notice that
this particular behavior happens because the battery intent is a STICKY one
{% include man-link-android.html uri='android.content.Context#sendStickyBroadcast(android.content.Intent)' %}.
</p>

{% highlight java %}
Intent currentBatteryStatus = registerReceiver(null, new IntentFilter(
    Intent.ACTION_BATTERY_CHANGED));
{% endhighlight %}


<h2>Location</h2>
<p>Standard Android SDK doesn't allow to turn on or off the Location providers (GPS, network, etc...)
thus an application must ask to the user to manually do it. Datalogic SDK overcome this limit
providing the class
{% include man-link.html uri='com.datalogic.device.location.LocationManager' %}, here how to use it:</p>

{% highlight java %}
com.datalogic.device.location.LocationManager loc = null;
try {
    loc = new com.datalogic.device.location.LocationManager();
    loc.setLocationMode(enable ? LocationMode.NETWORK : LocationMode.OFF);
} catch (DeviceException e) {
    e.printStackTrace();
}
{% endhighlight %}


<h2>Nfc</h2>

<p>Standard Android SDK doesn't allow to turn on or off the NFC adapter,
thus an application must ask to the user to manually do it. Datalogic SDK overcomes this limit
providing the class
{% include man-link.html uri='com.datalogic.device.nfc.NfcManager' %}, here how to use it:</p>

{% highlight java %}
NfcManager nfc = new com.datalogic.device.nfc.NfcManager();
nfc.enableNfcAdapter(enable);
{% endhighlight %}

<h2>Notifications</h2>

<p>Datalogic SDK allows to control LEDs on the device (*).
The standard Android APIs for controlling the notification LED via the
notifications system still works, though you are limited to 1 LED, while
Datalogic devices may have more LEDs, moreover using Datalogic
{% include man-link.html uri='com.datalogic.device.notification.LedManager' %}
the control is easier.</p>

{% highlight java %}
LedManager led = new LedManager();
led.blinkLed(Led.LED_GREEN_SPOT, 1, 500, 500);
{% endhighlight %}

<p><i><small>*Please notice that not all LEDs on a device can be freely controlled by
a user application, as some are reserved to the system.</small></i></p>


<h2>Touch</h2>

<p> The class
{% include man-link.html uri='com.datalogic.device.input.TouchManager' %}
can be used to lock the touchscreen.
</p>

{% highlight java %}
TouchManager tm = new TouchManager();
tm.lockInput(true);
Thread.sleep(2000);
tm.lockInput(false);
{% endhighlight %}


<h2>Sleep and Wakeup</h2>

<p>
Datalogic {% include man-link.html uri='com.datalogic.device.power.PowerManager' %}
allows to configure the screen off timeout and the wakeup sources of the device.
</p>

<p>The
{% include man-link.html uri='com.datalogic.device.power.SuspendTimeout' %} can be set
with a condition: the device running on battery or the device plugged to a power source, the function
{% include man-link.html uri='com.datalogic.device.power.PowerManager#setSuspendTimeout(com.datalogic.device.power.SuspendTimeout,%20boolean)' name='PowerManager.setSuspendTimeout()' %}
has a boolean argument for it.
</p>

{% highlight java %}
PowerManager pm = new PowerManager();

pm.setSuspendTimeout(SuspendTimeout.MINUTES_5, false); // battery
pm.setSuspendTimeout(SuspendTimeout.NEVER, true); // ext power
{% endhighlight %}

<p>Please notice that not all the
{% include man-link.html uri='com.datalogic.device.power.WakeupSource' %}s
available in the SDK are supported by a device, thus is better to check for
the support before enabling/disabling them.
</p>

{% highlight java %}
if (pm.isWakeupSupported(WakeupSource.TRIG_LEFT) &&
        !pm.isWakeupActive(WakeupSource.TRIG_LEFT)) {
    pm.activateWakeup(WakeupSource.TRIG_LEFT);
}
{% endhighlight %}


<h2>Reset</h2>

<p>With the class
{% include man-link.html uri='com.datalogic.device.power.PowerManager' %} is possible
to perform several type of resets and reboot of the device.</p>

<p>{% include man-link.html uri='com.datalogic.device.BootType#ENTERPRISE_RESET' %} and
{% include man-link.html uri='com.datalogic.device.BootType#FACTORY_RESET' %} reset types
clear the configuration of the device setting it to a custom one or to the out-of-the-box one
respectively, while {% include man-link.html uri='com.datalogic.device.BootType#RESET' %} is
a software reboot of the device.
</p>
