---
id: tutorials
layout: default
title: Tutorials
---
<div class="row">
  <div class="col s12">
    <div class="card-panel teal lighten-2">
      <span class="">
        Datalogic Android SDK sample source code is available on <i class="fa fa-github"></i> Github for either
        <a class="white-text" href="{{ site.samples_url.astudio }}">Android Studio</a>
        and <a class="white-text" href="{{ site.samples_url.eclipse }}">Eclipse ADT</a>.
      </span>
    </div>
  </div>
</div>

{% assign diffs = (site.pages | where: "layout" , "tutorial") | group_by: 'tutorial_difficulty' | sort: 'name' %}

<div class="row">
  {% for tutorial_groups in diffs %}
  {% assign tutorials = tutorial_groups.items | sort: 'tutorial_order','last' %}
  {% for page in tutorials %}
  {% if page.tutorial_enabled or site.debug %}
  <div class="col s12 m4">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light activator tut-icon">
        <i class="fa fa-{{ page.tutorial_icon }}"></i>
      </div>
      <div class="card-content">
        <span class="card-title activator">{{ page.title }}</span>
      </div>
      <div class="card-action right-align {% unless page.tutorial_enabled %}pink lighten-5{% endunless %}">
        <a href="{{ page.url | prepend: site.baseurl }}" class="left">Open</a></span>
        {% include tutorial-difficulty.html difficulty=tutorial_groups.name %}
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ page.title }}<i class="material-icons right">&times;</i></span>
        <p>{{ page.excerpt }}</p>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>

