---
layout: default
---
{% if !page.tutorial_icon %}
{% assign page.tutorial_icon = 'university' %}
{% endif %}

<section class="tutorial-header">

  <div class="right">
    <h1 class="center-align"><i class="tutorial-logo fa fa-{{ page.tutorial_icon }}"></i></h1>

    <h5>Difficulty <span class="tutorial-diff-{{page.tutorial_difficulty}}">
                        {% include tutorial-difficulty.html difficulty=page.tutorial_difficulty %}</h5>

    <p><a class="waves-effect waves-light btn" href="{{ site.samples_url.apk }}/{{ page.title | replace:' ','' }}.apk">
      <i class="fa fa-download"></i> Download .apk</a></p>

    <p><a class="waves-effect waves-light btn" href="javascript:void(0)" data-url="{{ site.samples_url.apk }}/{{ page.title | replace:' ','' }}.apk"
        onclick="showBarcode(this);">
      <i class="fa fa-qrcode"></i> Install</a></p>

    <p><a class='dropdown-button btn' href='#' data-activates='sourcecode'>
      <i class="fa fa-github"></i> Source code</a></p>

    <ul id='sourcecode' class='dropdown-content'>
      <li>
        <a href="{{ site.samples_url.astudio }}/{{ page.title | replace:' ','' }}"
          target="_blank">AndroidStudio</a></li>
      <li>
        <a href="{{ site.samples_url.eclipse }}/{{ page.title | replace:' ','' }}"
          target="_blank">Eclipse ADT</a></li>
    </ul>

    {% if page.tutorial_suggested %}
    <p>Suggested tutorials</p>
    {% for sugg in page.tutorial_suggested %}
      <p class="tutorial-suggested"><a href="{{ site.baseurl }}/tutorials/{{ sugg | replace:' ','-' | downcase }}.html"><i class="fa fa-angle-right"></i> {{ sugg }}</a></p>
    {% endfor %}
    {% endif %}

  </div>

  <!--<p>{{ page.excerpt }}</p>-->

    <div style="clear:both;"></div>

    <div id="barcode-container">
        <p><a href="javascript:void(0)" onclick="hideBarcode(this);"><i class="fa fa-close"></i> close</a></p>
        <img src=""/>
    </div>
</section>
{{ content }}
