---
layout: default
---
{% if !page.tutorial_icon %}
{% assign page.tutorial_icon = 'university' %}
{% endif %}

<div class="row">

  <div class="col m4 push-m8 s12 ">

    <section class="tutorial-header">

      <div class="right">
        <h1 class="center-align"><i class="tutorial-logo fa fa-{{ page.tutorial_icon }}"></i></h1>

        <h5>Difficulty <span class="tutorial-diff-{{page.tutorial_difficulty}}">
                            {% include tutorial-difficulty.html difficulty=page.tutorial_difficulty %}</h5>

        <p><a class="waves-effect waves-light btn" href="{{ site.samples_url.apk }}/{{ page.title | replace:' ','' }}.apk">
          <i class="fa fa-download"></i> Download .apk</a></p>

        <p><a class="waves-effect waves-light btn modal-trigger" href="#modal-barcode">
          <i class="fa fa-qrcode"></i> Install</a></p>

        <p><a class='dropdown-button btn' href='#!' data-activates='sourcecode'
            data-beloworigin="true" data-hover="true">
          <i class="fa fa-github"></i> Source code</a></p>

        <ul id='sourcecode' class='dropdown-content'>
          <li>
            <a href="{{ site.samples_url.astudio }}/{{ page.title | replace:' ','' }}"
              target="_blank">AndroidStudio</a></li>
          <li>
            <a href="{{ site.samples_url.eclipse }}/{{ page.title | replace:' ','' }}"
              target="_blank">Eclipse ADT</a></li>
        </ul>

        {% if page.tutorial_frame %}
        <p><button class="waves-effect waves-light btn btn-accent"
            onclick="showDeviceFrame()">
          <i class="fa fa-play"></i> Run in browser</button></p>
        {% endif %}

        {% if page.tutorial_suggested %}
        <p>Suggested tutorials</p>
        {% for sugg in page.tutorial_suggested %}
          <p class="tutorial-suggested"><a href="{{ site.baseurl }}/tutorials/{{ sugg | replace:' ','-' | downcase }}.html"><i class="fa fa-angle-right"></i> {{ sugg }}</a></p>
        {% endfor %}
        {% endif %}

      </div>

      <!--<p>{{ page.excerpt }}</p>-->

        <div style="clear:both;"></div>

    </section>
  </div>

  <div class="col m8 pull-m4 s12">
    {{ content }}
  </div>

</div>

<div id="modal-barcode" class="modal">
  <div class="modal-content">
    <h4>Read the barcode with your device</h4>
    <p class="center-align"><img src="https://api.qrserver.com/v1/create-qr-code/?qzone=4&size=150x150&data={{ site.samples_url.apk }}/{{ page.title | replace:' ','' }}.apk" /></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-blue btn-flat">OK</a>
  </div>
</div>

{% if page.tutorial_frame %}
{% assign frame_src = "//datalogic.github.io/android-samples-astudio/" | append: page.tutorial_frame %}
<div class="device-frame-container">
  {% include screenshot.html frame=frame_src %}
</div>
{% endif %}
