---
layout: default
---
{% if !page.tutorial_icon %}
{% assign page.tutorial_icon = 'university' %}
{% endif %}

<section class="tutorial-header">
    <div class="tutorial-box">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td rowspan="4"><i class="tutorial-logo fa fa-{{ page.tutorial_icon }}"></i></td>
                <td>Difficulty <span class="tutorial-diff-{{page.tutorial_difficulty}}">
                        {% include tutorial-difficulty.html difficulty=page.tutorial_difficulty %}</td>
            </tr>
            <tr><td>Download app
                    <a href="{{ site.samples_url }}/raw/master/apk/{{ page.title | replace:' ','' }}.apk">
                    <i class="fa fa-download"></i> APK</a>
                    <a href="javascript:void(0)" data-url="{{ site.samples_url }}/raw/master/apk/{{ page.title | replace:' ','' }}.apk"
                        onclick="showBarcode(this);">
                    <i class="fa fa-qrcode"></i> Barcode</a></td></tr>
            <tr><td>Sources on <a href="{{ site.samples_url }}/tree/master/{{ page.title | replace:' ','' }}">
                    <i class="fa fa-github"></i> GitHub</a></td></tr>
            {% if page.tutorial_suggested %}
            <tr><td>Suggested tutorials
            {% for sugg in page.tutorial_suggested %}
            <p class="tutorial-suggested"><a href="{{ site.url }}/tutorials/{{ sugg | replace:' ','-' | downcase }}.html"><i class="fa fa-angle-right"></i> {{ sugg }}</a></p>
            {% endfor %}
            </td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <p>{{ page.excerpt }}</p>

    <div style="clear:both;"></div>

    <div id="barcode-container">
        <p><a href="javascript:void(0)" onclick="hideBarcode(this);"><i class="fa fa-close"></i> close</a></p>
        <img src=""/>
    </div>
</section>
{{ content }}
